.questionsPage__content {
    width: 70%;
    height: fit-content;
    padding: 8px;
}

.questionsPage__content--button {
    display: block;
    width: 20%;
    margin: 20px auto;
    background-color: lightskyblue;
    color: white;
}