.updateCoursePage__container {
    display: flex;
}

.updateCoursePage__sidebar {
    position: sticky;
    top: 0;
    flex: 0.01;
}

.updateCoursePage__content {
    margin: 5px;
    padding: 8px;
    flex: 0.99;
}

.updateCoursePage__content--button{
    display: block;
    width: 20%;
    margin: 20px auto;
    background-color: black;
    color:white;
}

.updateCoursePage__content--button:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}