.quizzesPage__container {
    display: flex;
  }
  
  .quizzesPage__sidebar {
    flex: 0 0 20%;
  }
  
  .quizzesPage__content {
    width: 70%;
    height: fit-content;
    padding: 8px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .user-firstName {
    font-weight: normal;
    font-size: 18px; 
  }


  .card-title {
    font-weight: bold;
  }

  .card-text strong {
    font-weight: bold;
    font-size: 16px;
  }
  
  .card-text span.true {
    color: green;
    font-weight: bold;
  }
  
  .card-text span.false {
    color: red;
    font-weight: bold;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .button-container button:hover,
  .button-container button:focus {
    background-color: lightskyblue;
    color:#212529;
    border-color: lightskyblue;
  }